<div class="container">
  <h1>Best Choice Cars</h1>

  <div *ngIf="searchId == 1">
    <h3>Choose Brand to find available models</h3>

    <div>
      <form>
        <label class="brand-label">BRAND:</label>
        <select [(ngModel)]="selectedValue" name="selectedValue" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let brand of carBrands" [value]="brand">{{ brand }}</option>
        </select>
        <div class="actions">
          <button (click)="findModels()">Find models</button>
          <button (click)="home()">Back</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="searchId == 2">
    <h3>Choose Price range to find available cars</h3>

    <div>
      <div>
        <input type="radio" id="option1" name="options" value="0" [(ngModel)]="selectedOption">
        <label for="option1">
          < 5 lakhs </label>
      </div>
      <div>
        <input type="radio" id="option2" name="options" value="1" [(ngModel)]="selectedOption">
        <label for="option2">> 5 lakhs</label>
      </div>
      <div class="actions">
        <button (click)="findModelsByPrice()">Find models</button>
        <button (click)="home()">Back</button>
      </div>
    </div>
  </div>

  <div *ngIf="showCarsModel">
    <h3>Choose a car to buy</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Brand</th>
          <th>Model</th>
          <th>Year</th>
          <th>No. of Kms</th>
          <th>Price</th>
          <th>Fuel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of carDetailsByBrnand; let i = index">
          <td>
            <input type="radio" [id]="'option' + i" name="options" [value]="brand?.brand + ' ' + brand?.model"
              [(ngModel)]="selectedCar">
            <label [for]="'option' + i"></label>
          </td>
          <td>{{ brand?.brand }}</td>
          <td>{{ brand?.model }}</td>
          <td>{{ brand?.year }}</td>
          <td>{{ brand?.no_of_kms }}</td>
          <td>{{ brand?.price }}</td>
          <td>{{ brand?.fuel }}</td>
        </tr>
      </tbody>
    </table>
    <div class="actions">
      <button (click)="bookCar()">Book Car</button>
      <button (click)="back()">Back</button>
      <button (click)="home()">Home</button>
    </div>
  </div>

  <div *ngIf="bookedCar">
    <h3>Congratulations!!! You have successfully booked <i>{{selectedCar}}</i></h3>
    <h3>Thank you!!! Have a good day!!!</h3>
    <div class="actions">
      <button (click)="home()">Home</button>
    </div>
  </div>
</div>

<style>
  table {
    width: 50%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }
</style>