.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkorange;
    padding: 20px;
    border: 2px solid black;
    max-width: 600px;
    margin: auto;
}

.brand-label {
    font-weight: bold;
}

.actions {
    display: flex;
    margin-top: 20px;
}

.actions button {
    margin-top: 5px;
    margin-right: 5px;
}