:host {
    display: block;
    text-align: center;
}

.container {
    border: 2px solid black;
    background-color: darkorange;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
}

h1 {
    color: black;
    font-weight: bold;
}

.links {
    margin: 30px 0;
}

.links a {
    margin: 0 10px;
}