<div class="container">
    <h1>Best Choice Cars</h1>
    <div class="links">
        <a (click)="searchByBrand()">Search Cars By Brand</a>
        <a (click)="searchByPrice()">Search Cars By Price</a>
    </div>
</div>